<div class="form-container">
  <mat-card class="form-card">
    <mat-card-title>Document Add Form</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" >
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" >
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
  
        <div class="row">
          <mat-label apperance="outline"><b>Type of Document</b></mat-label>
          <mat-radio-group formControlName="type" required>
            <mat-radio-button value="pdf">PDF</mat-radio-button>
            <mat-radio-button value="xml">Xml</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row">
          <mat-label apperance="outline"><b>Privacy</b> </mat-label>
          <mat-radio-group formControlName="privacy" required>
            <mat-radio-button value="public">Public</mat-radio-button>
            <mat-radio-button value="Private">private</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="file-uploader" style="width: 600px; height: 200px; margin: 0 auto;" ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>
            <img src="./assets/images/add_file.png" width="200px" alt="Your Image Alt Text">
            <p>Drag and drop a file here</p>
          </ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </div>
        <div class="row">
          <button style="margin: 1rem;" mat-raised-button color="warn" type="reset">Cancel</button>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
</div>
