<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let document of documents">
        <div class="card">
          <div class="position-relative">
            <img [src]="getDocumentImage(document)" class="card-img-top" alt="Document Image" style="max-height: 200px;max-width: 200;" />
            <i *ngIf="document.privacy === 'Private'" class="bi bi-person-fill-lock position-absolute top-0 end-0 text-black" style="font-size: 1.5rem;"></i>
            <i *ngIf="document.privacy === 'Public'" class="bi bi-globe2 position-absolute top-0 end-0 text-black" style="font-size: 1.5rem;"></i>
          </div>
          <div class="card-body">
            <p class="card-text text-success "><i class="bi bi-person-fill"></i> <small class="text-success">{{ document.owner }}</small></p>
            <h5 class="card-title">{{ document.title }}</h5>
            <p class="card-text">{{ document.description }}</p>
            <p class="card-text"><strong>Type:</strong> {{ document.type }}</p>
            <p class="card-text"><strong>Privacy:</strong> {{ document.privacy }}</p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <button class="btn btn-link text-secondary"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-link text-danger"><i class="bi bi-trash"></i></button>
            <a [href]="downloadDocument(document)" class="text-secondary"><i class="bi bi-download"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  