<mat-card class="card">
   
        <mat-card-header style="text-align: center; justify-content: center;">
          <div class="header-text">
            <img src="./assets/images/logo.png" alt="Login Image" style="width: 100%; max-width: 400px;">
            <mat-card-title style="font-size: xx-large;">Login</mat-card-title>
            <mat-card-subtitle>Enter your credentials below</mat-card-subtitle>
          </div>
        </mat-card-header>
      
    <mat-card-content>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first_name" required>
            <mat-error *ngIf="signInForm.get('first_name')?.hasError('required')">first name is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name" required>
            <mat-error *ngIf="signInForm.get('last_name')?.hasError('required')">last name is required</mat-error>
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="signInForm.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="signInForm.get('email')?.hasError('email')">Invalid email format</mat-error>
          </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="signInForm.get('password')?.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <div class="buttons">
          <button mat-raised-button color="primary" type="submit">Sign In</button>
          <button mat-raised-button type="reset" color="warn" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </mat-card-content>
    <div style="text-align: center; margin-top: 0.7rem;"><h2>Sign in With   </h2></div>

        <div class="social-login" style="margin-bottom: 1rem;">
            <button mat-raised-button color="warn">
              <mat-icon>alternate_email</mat-icon>  Google
            </button>
            <button mat-raised-button color="lik">
              <mat-icon>github</mat-icon>  GitHub
            </button>
            <button mat-raised-button color="primary">
              <mat-icon>facebook</mat-icon> Facebook
            </button>
          </div>
  </mat-card>
  