.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 
  
  .header-image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  form {
    width: 450px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  mat-form-field {
    width: 100%;
  }
  .button-row{justify-content: center ; text-align: center;}
  button {
    margin-top: 16px;
    margin-right: 20px;

  }
  
  .social-login {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  
  .social-login button {
    margin-right: 8px;
  }
  