<table class="document-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Owner</th>
      <th>Privacy</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents">
      <td>
        <mat-icon>description</mat-icon>
        {{ document.title }}
      </td>
      <td>
        <mat-icon>person</mat-icon>
        {{ document.owner }}
      </td>
      <td>
        <mat-icon>public</mat-icon>
        {{ document.private ? 'Private' : 'Public' }}
      </td>
      <td>
        <mat-icon>attachment</mat-icon>
        {{ document.type }}
      </td>
      <td>
        <button mat-button color="primary" class="request-button">Request</button>
      </td>
    </tr>
  </tbody>
</table>
